@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.gradient-overlay {
  background: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 70%, rgba(0,0,139,0.8) 100%);
}
.gradient-overlay {
  background: radial-gradient(circle at center, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 70%, #762d00 100%);
}

.striped-div {
  background-color: white; /* Base color */
}

.striped-div::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px; /* Adjust the width of the corner area */
  height: 100%; /* This makes the stripes cover the full height */
  background-image: linear-gradient(135deg, purple 25%, transparent 25%, transparent 50%, purple 50%, purple 75%, transparent 75%);
  background-size: 50px 100%; /* This will ensure two stripes */
  pointer-events: none; /* Allows interaction with the div beneath */
}


/* Thin */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/ProximaNova/Fontspring-DEMO-proximanova-thin.otf') format('opentype');
  font-weight: 100; /* Thin */
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/ProximaNova/Fontspring-DEMO-proximanova-thinit.otf') format('opentype');
  font-weight: 100; /* Thin */
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/ProximaNova/Fontspring-DEMO-proximanova-light.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/ProximaNova/Fontspring-DEMO-proximanova-lightit.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/ProximaNova/Fontspring-DEMO-proximanova-medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/ProximaNova/Fontspring-DEMO-proximanova-mediumit.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/ProximaNova/Fontspring-DEMO-proximanova-regular.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/ProximaNova/Fontspring-DEMO-proximanova-regularit.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: italic;
}

/* Semi-Bold */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/ProximaNova/Fontspring-DEMO-proximanova-semibold.otf') format('opentype');
  font-weight: 600; /* Semi-Bold */
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/ProximaNova/Fontspring-DEMO-proximanova-semiboldit.otf') format('opentype');
  font-weight: 600; /* Semi-Bold */
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/ProximaNova/Fontspring-DEMO-proximanova-bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/ProximaNova/Fontspring-DEMO-proximanova-boldit.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-Black.ttf') format('truetype');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-BlackItalic.ttf') format('truetype');
  font-weight: 900; /* Black */
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-BoldItalic.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800; /* ExtraBold */
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-ExtraLight.ttf') format('truetype');
  font-weight: 200; /* ExtraLight */
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200; /* ExtraLight */
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-Italic.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-LightItalic.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-MediumItalic.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('/Raleway/Raleway-Thin.ttf') format('truetype');
  font-weight: 100; /* Thin */
  font-style: normal;
}